*{
    box-sizing: border-box;
    margin:0;    
}

body{
    font-family:  'Segoe UI',  'Open Sans', sans-serif;
    width: 800px;
    margin: 120px auto;
    background-color: #f0e1f4;
}

.wrapper{
    width:500px;
    background-color: #f8f2fb;

    margin-inline: auto;

    padding:32px;
    border-radius: 16px;
    border-right: 4px solid #f6a8a86e;
    border-bottom: 4px solid #f6a8a86e;
}

.wrapper h1{
    text-align: center;
    margin: 0;
    color: #f29ba8;

    font-size: 56px;
}

.recipes-wrapper{
    background-color: #fbdbe0;

    margin-top:40px;

    padding: 16px 8px;
    border-radius: 8px;
}

.nav{
    list-style-position: inside;
    padding: 16px;
}

li{
    margin-bottom: 4px;
}

::marker{
    color: #db818e;
    font-size: 24px;
}

a{
    color: #db818e;

    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

a:hover,a:focus{
    color: #ec5f76;
}

